.input{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
}

.SearchBar{
    display: flex;
    width: 500px;
    align-items: center;
    position: relative;
    left: 5px;
}

.btn{
    font-size: 25px;
    position: relative;
    left: 5px;
}